body{
  
    border-radius:0px;
    /* border: solid rgb(255, 255, 255) 15px; */
   
}

.lulusize
{
 font-size: 50px;
 color:white;
 text-decoration:underline ;
}
.namehead{
    color:white;
    margin: 50px;
    
}

.img
{
    width:300px;
    margin-top: 20px;
    margin-left:10%;
    border-radius: 50%;
    border:groove rgb(15, 15, 15) 5px;
    
}
.myDiv
{
   
    width:400px;
    height:700px;
    border-radius: 35px;
    margin-left:40%;
    border:solid rgb(34, 10, 255) 5px;
    margin-top: 60px;
    box-shadow:0px 5px 0px 5px;
    position:absolute;
    margin-top: -350px;
    background-color:#fff ;

}
.myName
{
    color:white;
    font-family: 'Poppins', sans-serif;
    text-decoration: underline;
}
.info
{
    color:rgb(247, 6, 6);
    font-family: 'Poppins', sans-serif;
    margin-left: 10%;
    line-height: 38px;
    font-size:20px;
    margin-top: 15px;
}
.social
{
   color:#fff; 
   margin-top:10px;
}

.fa
{
    margin-top: 10px;
    padding-left:50px;
    
}


.sec1
{
    background-color: rgb(255, 230, 0);
    height: 50%;
}

.sec2
{
    background-color: rgb(62, 9, 255);
    height: 50%;
}